@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
.p-button-outlined {
  width: 100px;
  height: 10px;
}
.typeFilms {
  min-width: 100px;
  white-space: inherit;
}
